---
import PokemonCard from "@/components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@/interfaces/pokemon-llist.response";
import MainLayout from "@/layouts/MainLayout.astro";

const respuesta = await fetch(`https://pokeapi.co/api/v2/pokemon`);
const data = (await respuesta.json()) as PokemonListResponse;
// console.log("🚀 ~ data:", data);

const title = "Pokémon Static | Home";
---

<MainLayout title={title}>
  <h1 class="text-3xl font-bold">Listado de Pokémons</h1>
  <hr />

  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4 mt-5"
  >
    {data.results.map(({name, url}) => 
			<PokemonCard name={name} url={url} />
		)}
  </section>
</MainLayout>
